body {
    background-color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color:lightgray;
}


.header {
    padding: 20px;
    font-size: 25px;  
    background-color:rgb(108, 108, 131) ;  
    color: white;
}

.header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

}

.header div {
    padding-top: 20px;
    margin-right: 15px;
    float: right;
    font-size: 22px;
}

.header div ul {
    list-style-type: none;
}

.header div li {
    display: inline-block;
    margin-left: 15px;
    color: black;
    text-decoration: none;
}


.content {
    font-size: 60px;
    width: 55%;
    display: inline-block;
    margin-left: 20px;
}

.line {
    border-left: thick solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.about-me {
    font-size: 35px;
    margin-left: 10px;
    padding: 20px;
    height: 15px;
}

.work {
    font-size: 35px;
  padding-top: 35px;
}


.projects {
    display:inline-block;
    padding-left: 150px;
}

.img {
    border: 2px solid;
    opacity: 0.7;
}

.img:hover {
    opacity: 1.0;
}

.work-line {
    border-left: thick solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    position: relative;
}


.text-block {
    padding-left: 25px;
    background-color: whitesmoke;
    opacity: 0.8;
    position:absolute;
    text-align:center;
    color: rgb(0, 0, 0);
    font-size:medium

}


.contact {
    font-size: 35px;
    padding-top: 170px;
    padding-bottom: 25px;
}

.contact-line {
    border-left: thick solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact ul {
    list-style-type: none;
}

.contact li {
    word-spacing: 20px;
    display: inline-block;
    font-size: 25px;
    text-decoration: underline;
}


p {
    text-align: left;
    padding-left: 25px;
    font-size: 16px;
    width: 65%;


}

footer {
    padding: 80px 0px 0px 22px;
}

